.container 
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  %h2 New Comment
  = form_with(model: @comment, url: task_comments_path(@comment.task), local: true) do |f|
    = f.text_area :content, class: 'text'
    = f.submit 'submit', class:'btn-primary'

