.container 
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  %h2 コメント投稿
  = form_with(model: @comment, url: task_comments_path(@comment.task), local: true) do |f|
    %div
      = f.text_area :content, class: 'text'
    = f.submit '送信', class:'btn-primary'

