.container
  %h2 All Boards
  .cards
    - @boards.each do |board|
      = link_to board_path(board.id) do
        .board 
          .board-title
            = board.title
          .board-content 
            = board.content
          .board-user
            = board.user.email