@import 'header';
@import 'login';
@import 'form';
@import 'btn';

body {
  font-family:  Avenir;
  margin: 0;
  width: 100%;
} 

.container{
  padding: 32px 26px;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: block;
}