@import 'header';
@import 'login';
@import 'form';
@import 'flash';
@import 'btn';
@import 'board';
@import 'common';

body {
  font-family:  Avenir;
  margin: 0;
  width: 100%;
} 

.container{
  padding: 32px 26px;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}