.board {
  background-color: #F4F4F4;
  margin-bottom: 24px;
  padding: 20px;
  border-radius: 10px;

  &-flex {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: 800;
    font-size: 28px;
    padding-bottom: 10px;
  }

  &-content{
    padding-bottom: 40px;
  }
} 

.new-board {
  border: 1px dashed black;
  width: 100%;
  padding: 68px 0;
  text-align: center;
}
.image-eyecatch {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%
    }
}