.board {
  background-color: #F4F4F4;
  margin-bottom: 24px;
  padding: 20px;
  border-radius: 10px;

  &-flex {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
  }

  &-content{
    padding-bottom: 40px;
  }
} 

.new-board {
  border: 1px dashed black;
  width: 100%;
  padding: 68px 0;
  text-align: center;
}