.board {
  background-color: #F4F4F4;
  margin-bottom: 24px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;

  &-title {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
  }

  &_detail {
    display: flex;
    font-size: 12px;
    position: relative;

    &_actions {
      right: 10px;
      position: absolute;
    }
  }

  &-content{
    padding-bottom: 40px;
  }
} 