.comment {
  font-size: 20px;
  margin-bottom: 30px;

  &-content{
    font-size: 16px;
  }
}

.new-comment {
  padding: 0 20px;
  width: 100%;
  text-align: center;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}