.text-title{
  font-weight: 400;
}

.text{
  border: none;
  width: 100%;
  background: #F4F4F4;
  margin: 9px 0 33px 0;
  border-radius: 4px;
  padding: 18px 8px;
}

textarea{
  min-height: 360px;
}

.file {
  margin: 9px 0 33px 0;
  font-size: 18px;
}

